* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.page {
    background: white;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2em;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.5);
}

#modal {
    z-index: 1;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 5vw;
    top: 35vh;
}